.doorNo1 {
  position: absolute;
  height: 428px;
  width: 347px;
  top: 59%;
  left: 37.5%;
  -moz-transform: matrix(1, 0.02, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0.02, 0, 1, 0, 0);
  -o-transform: matrix(1, 0.02, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0.02, 0, 1, 0, 0);
  transform: matrix(1, -0.01, 0, 1, 0, 0);
}
.doorNo21 {
  visibility: hidden;
  position: absolute;
  height: 224px;
  width: 245px;
  top: 37%;
  left: 13.2%;
  -moz-transform: matrix(1, 0.01, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0.01, 0, 1, 0, 0);
  -o-transform: matrix(1, 0.01, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0.01, 0, 1, 0, 0);
  transform: matrix(1, 0.01, 0, 1, 0, 0);
}
.doorNo22 {
  visibility: hidden;
  position: absolute;
  height: 247px;
  width: 271px;
  top: 32.3%;
  left: 71.3%;
  -moz-transform: matrix(1, -0.03, 0, 1, 0, 0);
  -ms-transform: matrix(1, -0.03, 0, 1, 0, 0);
  -o-transform: matrix(1, -0.03, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.03, 0, 1, 0, 0);
  transform: matrix(1, -0.03, 0, 1, 0, 0);
}
.doorNo31 {
  visibility: hidden;
  position: absolute;
  height: 224px;
  width: 245px;
  top: 37%;
  left: 13.2%;
  -moz-transform: matrix(1, 0.01, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0.01, 0, 1, 0, 0);
  -o-transform: matrix(1, 0.01, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0.01, 0, 1, 0, 0);
  transform: matrix(1, 0.01, 0, 1, 0, 0);
}
.doorNo32 {
  visibility: hidden;
  position: absolute;
  height: 568px;
  width: 385px;
  top: 15.3%;
  left: 78%;
  -moz-transform: matrix(1, -0.03, 0, 1, 0, 0);
  -ms-transform: matrix(1, -0.03, 0, 1, 0, 0);
  -o-transform: matrix(1, -0.03, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.03, 0, 1, 0, 0);
  transform: matrix(1, -0.03, 0, 1, 0, 0);
}
.doorNo41 {
  visibility: hidden;
  position: absolute;
  height: 224px;
  width: 245px;
  top: 37%;
  left: 13.2%;
  -moz-transform: matrix(1, 0.01, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0.01, 0, 1, 0, 0);
  -o-transform: matrix(1, 0.01, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0.01, 0, 1, 0, 0);
  transform: matrix(1, 0.01, 0, 1, 0, 0);
}
.doorNo42 {
  visibility: hidden;
  position: absolute;
  height: 247px;
  width: 120px;
  top: 29.8%;
  left: 86%;
  -moz-transform: matrix(1, -0.01, 0, 1, 0, 0);
  -ms-transform: matrix(1, -0.01, 0, 1, 0, 0);
  -o-transform: matrix(1, -0.01, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.01, 0, 1, 0, 0);
  transform: matrix(1, -0.01, 0, 1, 0, 0);
}
.imgHolder {
  position: absolute;
  background-image: url(../../../../img/GetraenkeMarkt/outside.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#imageSizer {
  height: 1400px;
  width: auto;
}
.stop-scrolling {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}
#containment {
  position: absolute;
  background-color: aqua;
}
.choice {
  height: 280px;
  width: 280px;
  margin: 5px;
  z-index: 2;
}
.choice:hover {
  border: 2px solid blue;
}
.randombox {
  z-index: 1;
}
.gameSizer {
  position: absolute;
  top: 6%;
  left: 0;
  width: 100%;
  height: 95%;
  z-index: 0;
}
body {
  text-align: center;
}
.door {
  margin-left: 459px;
  margin-top: 162px;
  position: absolute;
  z-index: 1;
  width: 83px;
  height: 186px;
  background-color: transparent;
}
.door:hover {
  border: 5px solid green;
}
.order {
  margin-left: 173px;
  margin-top: 54px;
  position: absolute;
  z-index: 1;
  width: 238px;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  color: white;
  white-space: normal;
  text-align: justify;
}
.order:hover {
  border: 5px solid green;
}
.timer {
  z-index: 1;
  font-size: 18px;
  text-align: center;
  top: 0;
  right: 30px;
  width: 50px;
  height: 20px;
  border: 5px solid grey;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.6);
}
.piece1 {
  width: 195px;
  height: 219px;
  position: absolute;
  top: 40.5%;
  left: 33.8%;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.piece2 {
  width: 192px;
  height: 219px;
  position: absolute;
  top: 40.5%;
  left: 44%;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.piece3 {
  width: 197px;
  height: 216px;
  position: absolute;
  top: 7.9%;
  left: 56%;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.piece4 {
  width: 201px;
  height: 217px;
  position: absolute;
  top: 7.9%;
  left: 66.5%;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.piece5 {
  width: 190px;
  height: 219px;
  position: absolute;
  top: 40.5%;
  left: 23.9%;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.endScreen {
  font-size: 25px;

}
.congratsBox {
  position: absolute;
  width: 72%;
  height: 88.7%;
  top: 5.5%;
  left: 15%;

  padding: 2%;
  background-color: rgba(50, 50, 50, 1);

}
.congratsBox label {
  font-size: 40px;
  color: white;
}
.congratsBox button{
  font-size: 20px;
}
