.btn_div {
    width: 300px;
    position: absolute;
    top: 35%;
    left: 10%;
}

.spez{
    height: 50px;
    width: calc(100% - 40px);
    margin: 20px;
    margin-bottom: 0;
    background: rgba(0,0,0,0.5);
    color:white;
    border: 1px solid white !important;
}

.spez:hover {
        /*font-size: 1.5em;*/
        color:white !important;
        background-color: rgba(255,255,255,0.1);
    }


