.doorNo1 {
  position: absolute;
  width: 17%;
  height: 30%;
  top: 61.5%;
  left: 44.5%;
  -moz-transform: matrix(1, 0, 0.02, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0.02, 1, 0, 0);
  -o-transform: matrix(1, 0, 0.02, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0.02, 1, 0, 0);
  transform: matrix(1, 0.14, -0.01, 1, 0, 0);
}
.doorNo2 {
  position: absolute;
  width: 600px;
  height: 75px;
  top: 14%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 52.5%;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-size: 25px;
  color: white;
  border: 2px solid white;
  white-space: normal;
}
.imgHolder {
  position: absolute;
  background-image: url(../../../../img/kueche/initial.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#imageSizer {}
.stop-scrolling {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}
#containment {
  position: absolute;
  background-color: aqua;
}
body {
  text-align: center;
}
.gameDoor {
  position: absolute;
  width: 32%;
  height: 88.7%;
  top: 9%;
  left: 26.5%;
  -moz-transform: matrix(1, 0, 0.02, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0.02, 1, 0, 0);
  -o-transform: matrix(1, 0, 0.02, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0.02, 1, 0, 0);
  transform: matrix(1, 0, 0.02, 1, 0, 0);
}
.gameBox {
  background-image: url(./../../../../img/kueche/start.jpg);
  height: 120%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -3%;
}
.proto1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  top: 37%;
  left: 48%;
  height: 22%;
  width: 3.4%;
  position: absolute;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.proto2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  top: 37.6%;
  left: 44.5%;
  height: 22%;
  width: 3.4%;
  position: absolute;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.proto3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  top: 38%;
  left: 41%;
  height: 22%;
  width: 3.4%;
  position: absolute;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.proto4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  top: 39%;
  left: 37.5%;
  height: 22%;
  width: 3.4%;
  position: absolute;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.proto5 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  top: 37%;
  left: 34.4%;
  height: 22%;
  width: 3.4%;
  position: absolute;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.deftero1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  top: 58.5%;
  left: 77.5%;
  height: 46%;
  width: 6.4%;
  position: absolute;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.deftero2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  top: 56.2%;
  left: 70.5%;
  height: 46%;
  width: 7.4%;
  position: absolute;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.deftero3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  top: 54.5%;
  left: 64%;
  height: 46%;
  width: 7.4%;
  position: absolute;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.deftero4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  top: 52.8%;
  left: 58%;
  height: 46%;
  width: 7.4%;
  position: absolute;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.congratsBox {
  position: absolute;
  width: 100%;
  height: 94.7%;
  top: 5.5%;
  left: 0%;
  padding: 2%;
  background-color: rgba(50, 50, 50, 1);
}
.congratsBox label {
  font-size: 40px;
  color: white;
}
.congratsBox button {
  font-size: 20px;
}
.unClickable {
  pointer-events: none;
}
.timer {
  font-size: 20px;
  color: black;
  position: absolute;
  top: 5.5%;
  right: 0;
  border: 5px solid black;
  background-color: white;
  border-radius: 5px;
  width: 50px;
}
.preGame {
  width: 100%;
  height: 110%;
  background-color: rgba(50, 50, 50, 1);
  margin-top: -1%;
}
.description {
  font-size: 40px;
  color: white;
}
