.doorNo1 {
    position: absolute;
    width: 513px;
    height: 476px;
    top: 33%;
    left: 11.5%;
    -moz-transform: matrix(1, 0.02, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0.02, 0, 1, 0, 0);
    -o-transform: matrix(1, 0.02, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0.02, 0, 1, 0, 0);
    transform: matrix(1, -0.03, 0.02, 1, 0, 0);
}

.doorNo2 {
   position: absolute;
   width: 500px;
  height: 66px;
  top: 23%;
  left: 11.5%;
  visibility: hidden;
  background-color: rgba(0,0,0,0.8);
  color: white;
  font-size: 20px;
  padding-top: 20px;
}

.doorNo3 {
    position: absolute;
    width: 202px;
    height: 48px;
    top: 76.5%;
    left: 41.5%;
    visibility: hidden;
    -moz-transform: matrix(1, 0.15, -1.99, 0.9, 1.5, 10);
    -ms-transform: matrix(1, 0.15, -1.99, 0.9, 1.5, 10);
    -o-transform: matrix(1, 0.15, -1.99, 0.9, 1.5, 10);
    -webkit-transform: matrix(1, 0.15, -1.99, 0.9, 1.5, 10);
    transform: matrix(1, 0.15, -1.99, 0.9, 1.5, 10);
}

.menueGame{
  position: absolute;
  width: 537px;
  height: 401px;
  top: 12.5%;
  left: 0%;
  visibility: hidden;
  -moz-transform: matrix(1, 0.15, -1.99, 0.9, 1.5, 10);
  -ms-transform: matrix(1, 0.15, -1.99, 0.9, 1.5, 10);
  -o-transform: matrix(1, 0.15, -1.99, 0.9, 1.5, 10);
  -webkit-transform: matrix(1, 0.15, -1.99, 0.9, 1.5, 10);
  transform: matrix(1, -0.09, 0, 1, 0, 0);
}



.imgHolder {
    margin-left: 20%;
    position: absolute;
    width: 640px;
    height: 850px;
    background-image: url(img/SpreiselEingang.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.imageCup {
}

.stop-scrolling {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

#containment {
    position: absolute;
    background-color: aqua;
}

.choice {
    height: 280px;
    width: 280px;
    margin: 5px;
    z-index: 2;
}

    .choice:hover {
        border: 2px solid blue;
    }

.randomBox {
    height: 900px;
    width: 900px;
    position: absolute;
    border: 2px solid white;
    background: rgba(0,0,0,0.8);
    z-index: 1;
}





body {
    text-align: center;
}


