.doorNo1 {
  position: absolute;
  width: 722px;
  height: 704px;
  top: 27%;
  left: 36.5%;
  -moz-transform: matrix(1, 0, 0.02, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0.02, 1, 0, 0);
  -o-transform: matrix(1, 0, 0.02, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0.02, 1, 0, 0);
  transform: matrix(1, 0, 0.02, 1, 0, 0);
}
.doorNo2 {
  position: absolute;
  width: 600px;
  height: 75px;
  top: 14%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 52.5%;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-size: 25px;
  color: white;
  border: 2px solid white;
  white-space: normal;
}
.doorNo3 {
  position: absolute;
  width: 417px;
  height: 40px;
  top: 48%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 6.5%;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-size: 25px;
  color: white;
  border: 2px solid white;
  white-space: normal;
}
.doorNo31 {
  position: absolute;
  width: 417px;
  height: 40px;
  top: 48%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 30.5%;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-size: 25px;
  color: white;
  border: 2px solid white;
  white-space: normal;
}
.doorNo32 {
  position: absolute;
  width: 417px;
  height: 40px;
  top: 48%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 58.5%;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-size: 25px;
  color: white;
  border: 2px solid white;
  white-space: normal;
}
.doorNo33 {
  position: absolute;
  width: 417px;
  height: 40px;
  top: 60%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 87.5%;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-size: 25px;
  color: white;
  border: 2px solid white;
  white-space: normal;
}
.imgHolder {
  position: absolute;
  background-image: url(../../../../img/spreisel/spreiselOutside.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#imageSizer {
  height: 1200px;
}
.stop-scrolling {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}
#containment {
  position: absolute;
  background-color: aqua;
}
body {
  text-align: center;
}
#randombox {
  background-image: url(./../../../../img/spreisel/spreiselInside3.jpg);
  height: 121%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -10%;

}
.gameDoor {
  position: absolute;
  width: 64%;
  height: 82.7%;
  top: 17%;
  left: 17.5%;
  -moz-transform: matrix(1, 0, 0.02, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0.02, 1, 0, 0);
  -o-transform: matrix(1, 0, 0.02, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0.02, 1, 0, 0);
  transform: matrix(1, 0, 0.02, 1, 0, 0);
}
.gameBox {
  position: absolute;
  width: 72%;
  height: 88.7%;
  top: 5.5%;
  left: 15%;

  padding: 2%;
  background-color: rgba(255, 238, 47, 1);

}

.proto {
  background-color: rgba(0, 0, 0, 0.1);
  -moz-transform: matrix(1, 0, 0., 1, 0, 0);
  -ms-transform: matrix(1, 0, 0., 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  text-align: justify;
  margin-top: 1%;
  border: 1px solid black;
  width: 40%;
  height: 22%;
  display: inline-block;
}
.proto img{
  margin: 5px;
  height: 100px;
  width: 100px;
}

.item{
  margin-left: 15px;
}
.price{
  font-weight: bold;
}
.title{
  font-size: 30px;
}

.congratsBox {
  position: absolute;
  width: 72%;
  height: 88.7%;
  top: 5.5%;
  left: 15%;

  padding: 2%;
  background-color: rgba(50, 50, 50, 1);

}
.congratsBox label {
  font-size: 40px;
  color: white;
}
.congratsBox button{
  font-size: 20px;
}
.unClickable{
  pointer-events: none;
}
.timer{
  font-size: 20px;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  border: 5px solid black;
  background-color: white;
  border-radius: 5px;
  width: 50px;
}
