body {
    background: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 70px;
}

.navbutton{
    outline:none;
    background: transparent;
    border: none !important;
}

.navbutton::-moz-focus-inner {
   border: 0;
}

.navicon{
    margin-right: 15px;
    color: white;
    height:50px;
    font-size: 35px;
    line-height: 50px;
}

.navicon:hover{
    color: rgba(150,150,150,0.5);
}

.btn {
	-moz-box-shadow: 0px 0px 0px 2px #dedede;
	-webkit-box-shadow: 0px 0px 0px 2px #dedede;
	box-shadow: 0px 0px 0px 2px #dedede;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c2c2c2), color-stop(1, #bdbdbd));
	background:-moz-linear-gradient(top, #c2c2c2 5%, #bdbdbd 100%);
	background:-webkit-linear-gradient(top, #c2c2c2 5%, #bdbdbd 100%);
	background:-o-linear-gradient(top, #c2c2c2 5%, #bdbdbd 100%);
	background:-ms-linear-gradient(top, #c2c2c2 5%, #bdbdbd 100%);
	background:linear-gradient(to bottom, #c2c2c2 5%, #bdbdbd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c2c2', endColorstr='#bdbdbd',GradientType=0);
	background-color:#c2c2c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #54658f;
  margin: 2rem;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #c2c2c2));
	background:-moz-linear-gradient(top, #bdbdbd 5%, #c2c2c2 100%);
	background:-webkit-linear-gradient(top, #bdbdbd 5%, #c2c2c2 100%);
	background:-o-linear-gradient(top, #bdbdbd 5%, #c2c2c2 100%);
	background:-ms-linear-gradient(top, #bdbdbd 5%, #c2c2c2 100%);
	background:linear-gradient(to bottom, #bdbdbd 5%, #c2c2c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#c2c2c2',GradientType=0);
	background-color:#bdbdbd;
}
.btn:active {
	position:relative;
	top:1px;
}
